<launch>
  <!-- launch bayesian tracker -->
  <!-- <include file="$(find dbot_ros)/launch/object_tracker_service.launch"/> -->
  <include file="$(find dbot_ros)/launch/particle_tracker.launch"/>

  <!-- launch tag tracker -->
  <!-- <include file="$(find apriltag_ros)/launch/continuous_detection.launch"> -->
   <!-- <arg name="camera_name" value="/camera/color"/> -->
   <!-- <arg name="image_topic" value="image_raw"/> -->
   <!-- <arg name="camera_frame" value="camera_color_frame"/> -->
  <!-- </include> -->

  <!-- Run realsense cameras -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no" value="934222070335"/>
    <!--<arg name="camera_filters" value="pointcloud"/> -->
    <arg name="initial_reset" value="true"/>
    <arg name="enable_pointcloud" value="true"/>
  </include>

  <!-- Load the ur5 -->
  <arg name="limited" default="true"/>
  <include file="$(find ur_bringup)/launch/ur5_bringup.launch">
    <arg name="robot_ip" value="172.22.22.3"/>
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- Load moveit planner-->
  <arg name="debug" default="false" />
  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <arg name="limited" value="true"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
